version: "3.8"


services:
  web:
   build: 
      context: .
   ports:
     - "5000:5000"
   depends_on:  
    - redis_db   






  redis_db:
    image: redis:alpine
    ports:
      - "6379:6379"
    volumes:
      - ./redis_data:/data 



